@import "../../styles/util";

.project_card{
    
    .title{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 11;
        color: #fff;
        font-size: 50px;
    }
   
    .image_wrap{ 
        width:100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        max-height: 48em;
       
     
        figure{
            width: 100%;
            @include aspectRatio(476, 546);
             transform: scale(1.2);
            position: relative;
            @include min(1600){
                @include aspectRatio(576, 746); 
            }
           
        }

    }
  
    .card_footer{
        p{
            color: #fff;
            font-size: 26px;
        }
    }
}