@import "../../styles/util";
.footer {
    padding: 100px 0;
    position: relative;

    .address {
        padding-top: 50px;
        max-width: 450px;
        address{
            font-size: 20px;
            color: #fff;
            font-weight: 500;
        }

        a {
            display: block;
            margin-top: 10px;
            text-decoration: none;
            color: #fff;
            font-size: 20px;
        }
    }

    .footer_menu {
        width: 100%;
        text-align: center;
        padding-top: 50px;

        ul {
            list-style-type: none;
            text-align: left;
            padding: 0;
            margin: 0;
            max-width: max-content;
        
            @include min(992){
                
            }

            li {
                margin-top: 10px;
                font-size: 20px;
            }
        }
    }

    .about {
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
        color: #fff;
        background-color: rgba(255, 255, 255, .1);
        border-radius: 100%;
        flex: none;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: all .2s;
        display: flex;
        position: absolute;
        right: 20px;
        width: 100px;
        height: 100px;
        margin-left: auto;
        top: 70%;
        @include min(992){
            width: 120px;
            height: 120px;
            top: 0; 
        }
    }
    :global(.relative){
        position: relative;
    }

    .bottom_footer {
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    .video_overlay {
        width: 100%;
        height: 50%;
        background-image: linear-gradient(#1d2024, rgba(29, 32, 36, 0));
        position: absolute;
        top: 0;
        left: 0;
    }
    .bottom_line{
      
       justify-content: space-between;
       color: #fff;
       padding: 20px 0;
       @include min(992){
        display: flex;
       }
    }
}